.carousel-caption {
  font-family: cursive; }

#carouselExampleIndicators {
  width: 100%; }

.carousel-control-prev {
  color: black; }

.row {
  padding: 10px;
  margin-right: 0;
  margin-left: 0; }

.card col-sm-4 {
  width: -18rem; }

#checkbox {
  margin-left: 1.5rem; }

section {
  padding: 20px; }

.nav-link {
  color: white; }
